body{
    background-color: aliceblue;
}

.flex-container{
    display: flex;
    width: 600px;
    height: 400px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    border-left: #000 solid 2px;
}

.flex-item:nth-child(1){
    background-color: rgb(127, 146, 255);
    width: 100px;
    height: 50px;  
}
.flex-item:nth-child(2){
    background-color: rgb(128, 240, 133);
    width: 250px;
    height: 50px;
}

.flex-item:nth-child(3){
    background-color: rgb(250, 187, 135);
    width: 500px;
    height: 50px;
}
    
.flex-item:nth-child(4){
    background-color: rgb(238, 144, 180);
    width: 550px;
    height: 50px;
}
.flex-item:nth-child(5){
    background-color: rgb(213, 250, 210);
    width: 600px;
    height: 50px;

}