body {
    background-color: aliceblue;
}

.flex-container {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: #000 solid 2px;
    align-items: flex-end;
}

.flex-item:nth-child(1) {
    background-color: rgb(255, 68, 0); /* antes aquamarine */
    width: 50px;
    height: 300px;  
}
.flex-item:nth-child(2) {
    background-color: rgb(0, 255, 115); /* antes lightcoral */
    width: 50px;
    height: 250px;
}

.flex-item:nth-child(3) {
    background-color: rgb(0, 140, 255); /* antes lightskyblue */
    width: 50px;
    height: 200px;
}
    
.flex-item:nth-child(4) {
    background-color: rgb(255, 183, 0); /* antes lightgreen */
    width: 50px;
    height: 150px;
}
.flex-item:nth-child(5) {
    background-color: rgb(255, 0, 255); /* antes lightgoldenrodyellow */
    width: 50px;
    height: 100px;
}