*{
        margin:0;
        padding:0;
        box-sizing: border-box;
}
.container{
        display:flex;
        flex-direction: row;
        width: 300px;
        height: 400px;
        flex-wrap: nowrap;
        outline:1px black solid;
}

.item{
        outline:1px black solid;
        /*width: 100px;*/
        flex-basis: 100px;
        height: 100px;
        

}
.item:nth-child(1){
        background-color: rgb(0, 191, 255);
        /*flex-shirink:defecto a 1;*/
        flex-shrink: 2;

}
.item:nth-child(2){
        background-color: rgb(255, 251, 0);
        flex-shrink: 0.5;
}
.item:nth-child(3){
        background-color: rgb(0, 255, 234);
        flex-shrink: 3;
}
.item:nth-child(4){
        background-color: rgb(140, 0, 255);
        flex-shrink: 1;
}